<div class="container-fluid">
    <div class="row" id="auction-form">
        <div class="col-4">
            <label for="auction-min-bid" class="form-label">Minimum Bid Price <b class="text-danger">*</b></label>
            <input type="number" class="form-control" id="auction-min-bid" placeholder="">
            <p class="text-danger d-none" id="min-bid-required-text">* Minimum Bid Price is required</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center" id="create-auction-modal-loader">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div id="owner_nfts" class="row">
            
            </div>
        </div>
    </div>

</div>
