<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NFT MARKETPLACE</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body>
        <!-- Modal -->
        <div class="modal fade" id="create-auction-modal" tabindex="-1" aria-labelledby="create-auction-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="create-auction-modal-label">Create Auction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%- include('../components/create_auction_modal_content'); %>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="bid-modal" tabindex="-1" aria-labelledby="bid-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="bid-modal-label">Bid</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="currentBidElementId"/>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4">
                                    <label for="auction-bid" class="form-label">Your offer </label>
                                    <input type="number" class="form-control" id="auction-bid" placeholder="">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span id="passwordHelpInline" class="form-text">
                                        Must be higher than <span id="minimum-bid-for-item"></span>.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="createBid()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h1> Auction </h1>
            <div class="row">
                <div class="col-3">
                    <div class="col-3">
                        <button class="btn btn-primary" onclick="mint()">Mint NFT </button>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary" target="_blank" href="https://bybit-exchange.github.io/erc20-faucet/">TUSDT Faucet </a>
                    </div>
                    
                    <div class="col-3">
                        <button class="btn btn-primary" onclick="approveAllERC721()">Approve All NFTs </button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary" onclick="approveERC20()">Approve ERC20 Token </button>
                    </div>

                    <button class="btn btn-primary" onclick="prepareAuction()">Create auction</button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-secondary" onclick="signListing()">signListing </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2> Current listed items</h2>
                <div class="col">
                    <div class="containet-fluid">
                        <div class="row" id="listed_nfts">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/@alch/alchemy-web3@latest/dist/alchemyWeb3.min.js"></script>
        <script src="../../js/auction.js"></script>
        <script src="../../abi/erc721.abi.js"></script>
        <script src="../../abi/erc20.abi.js"></script>
    </body>
</html>