<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NFT MARKETPLACE</title>
    </head>
    <body>
        <h1> My bidded Items</h1>
        <ul>
            <% nfts.forEach(function (nft) { %>
            <li>
                <%- include('../components/nft_item', {nft: nft}); %>
            </li>
            <% }) %>
        </ul>

        <h1> My transferible Items</h1>
        <ul>
            <% nfts.forEach(function (nft) { %>
            <li>
                <%- include('../components/nft_item', {nft: nft}); %>
            </li>
            <% }) %>
        </ul>
        
    </body>
</html>